DB_URL=jdbc:mysql://localhost:3306/project_name_default
DB_USER=root
DB_PASSWORD=root
POOL_SIZE=10
MINIMUM_IDLE=2
THREAD_POOL_SIZE=5
HTTP_PORT=9000

KAFKA_BROKER=127.0.0.1:9092
KAFKA_BROKER_WEB=kafka:9092

